@page "/forgetpassword"
@using BlazorPro.Spinkit
@using System.ComponentModel.DataAnnotations;

<MudGrid>
    <MudItem xs="12" sm="12">
        @if (busy)
        {
            <CircleFade></CircleFade>

        }
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="userDto.Email" T="string" Label="Email" Required="true" RequiredError="Email is required!" Variant="Variant.Outlined"
                Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />



                <div class="d-flex align-center justify-space-between">

                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="()=>HandleForget()">Récupérer mot de passe</MudButton>

                </div>

            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>